// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '../css/fontawesome-free/css/all.min.css';


@import "../css/sb-admin-2.css";
@import "../css/style.css";


a.card:hover {
  opacity: .85;
  text-decoration: none;
}
.task {
  margin-bottom: 25px;
}
.counter {
  font-weight: 900;
}

.btn-disabled {
  opacity: .7;
  background-color: #484a54;
  border-color: #42444e;
  &:hover {
    background-color: #484a54;
    border-color: #42444e;
    opacity: .7;
  }
}