// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '../css/fontawesome-free/css/all.min.css';


@import "../css/sb-admin-2.css";
@import "../css/style.css";
@import "custom-input";
@import "get-start";

a.card:hover {
  opacity: .85;
  text-decoration: none;
}
.task {
  padding-bottom: 20px;
  margin-bottom: 20px;
  &:not(:last-child) {
    border-bottom: 2px solid rgba(75, 112, 221, 0.45);
  }
}
.alert-danger .task {
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
}
.counter {
  font-weight: 900;
}

.btn-disabled {
  opacity: .7;
  background-color: #484a54;
  border-color: #42444e;
  &:hover {
    background-color: #484a54;
    border-color: #42444e;
    opacity: .7;
  }
}

* {
  outline: none;
}

.mx-fx-switcher {
  .dropdown-toggle, .dropdown-item {
    font-size: 20px;
  }
  .dropdown-toggle {

  }
  .dropdown-menu {
    background-color: $base-grey;
    border-color: $base-grey;
    padding: 0;
    border-radius: 0;
    a {

      color: #ffffff;
      &:hover {
        color: $base-grey;
        border-color: $base-grey;
      }
    }
  }
}


.fizika-theme {
  color: #000000;
  .bg-gradient-primary {
    background: $fizika-theme;
  }
  .bg-primary {
    background-color: #2e4484 !important;
  }
  .bg-success {
    background-color: #165d0d !important;
  }
  .bg-info {
    background-color: #247682 !important;
  }
  .btn-primary {
    color: #fff;
    background-color: #361c64;
    border-color: #361c64;
  }
  .text-gray-400 {
    color: #361c64 !important;
  }
  #wrapper #content-wrapper {
    background-color: #e2e3e7;
  }
  .topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #361c64;
  }
}


.kniga-resheniy-section {
  margin-bottom: 25px;
  .heading {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 5px;
  }
}
body {
  counter-reset: z; /* Инициируем счетчик */
}
z {font-weight: bold;
  color: midnightblue;}
z:before {
  counter-increment: z; /* Указываем идентификатор счетчика */
  content: "Пример " counter(z) ". "; /* Выводим текст перед содержимым тега <h2> */
}

.scrollspy-example {
  //position: relative;
  //height: 50vh;
  //margin-top: .5rem;
  //overflow: auto;
}

@media (max-width: 992px) {
  .task {
    .heading {
      overflow-x: auto;
    }
  }
}