// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '../css/fontawesome-free/css/all.min.css';


@import "../css/sb-admin-2.css";
@import "../css/style.css";


a.card:hover {
  opacity: .85;
  text-decoration: none;
}
.task {
  margin-bottom: 25px;
  .heading {
    overflow-x: auto;
  }
}
.counter {
  font-weight: 900;
}

.btn-disabled {
  opacity: .7;
  background-color: #484a54;
  border-color: #42444e;
  &:hover {
    background-color: #484a54;
    border-color: #42444e;
    opacity: .7;
  }
}

* {
  outline: none;
}

.mx-fx-switcher {
  .dropdown-toggle, .dropdown-item {
    font-size: 20px;
  }
  .dropdown-toggle {

  }
  .dropdown-menu {
    background-color: $base-grey;
    border-color: $base-grey;
    padding: 0;
    border-radius: 0;
    a {

      color: #ffffff;
      &:hover {
        color: $base-grey;
        border-color: $base-grey;
      }
    }
  }
}


.fizika-theme {
  .bg-gradient-primary {
    background: $fizika-theme;
  }
  .bg-primary {
    background-color: #2e4484 !important;
  }
  .bg-success {
    background-color: #165d0d !important;
  }
  .bg-info {
    background-color: #247682 !important;
  }
  .btn-primary {
    color: #fff;
    background-color: #361c64;
    border-color: #361c64;
  }
  .text-gray-400 {
    color: #361c64 !important;
  }
  #wrapper #content-wrapper {
    background-color: #e2e3e7;
  }
  .topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #361c64;
  }
}


