.steps {

}
.timer {
  font-size: 17px;
  font-weight: 400;
  border: 1px solid rgb(170, 170, 170);
  padding: 9px 13px;
  border-radius: 0;
}
.task-body {
  margin-bottom: 15px;
}
//[class*="hints-"] {
//  margin-bottom: 15px;
//}
